
.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 375px; 
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    /* position: relative; */
    font-family: "Montserrat", sans-serif;
  }
  
  .media:hover {
    background-color: white;
    color: black;
  }
/*   
  @media (max-width: 550px) {
    .media {
      width: 90%;
    }
  } */
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 15px;
    /* padding: 8px 0px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
  }

  